* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #8A51FC;
}

.logo {
    width: 250px;
    margin: 20px auto;
    display: block;

}

main {
    width: 375px;
    background-color: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 70px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {
    background: #FFFFFF;
    height: 48px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input{
    cursor: text;
}

button {
    height: 48px;
    width: 100%;
    background: #772FD3;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    margin-top: 36px;
    border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
    font-weight: 700;
}

.currency-value,
.currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}